.list-table-image {
  margin-top: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.filter-list-table {
  max-width: 250px;
  float: right;
  margin-bottom: -10px;
}
