<pet-header-profile [headerData]="{pet: petFormGroup.value, tutor: selectedTutor$ | async}"
  (imageUploaded)="handleImageUploaded($event)"></pet-header-profile>


<form *ngIf="petFormGroup" [formGroup]="petFormGroup" [ngClass]="routeAnimationsElements" class="profile-form">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="name"
      formControlName="name" required>
    <mat-error *ngIf="petFormGroup.get('name').invalid">
      {{ 'anms.examples.crud.placeholder1' | translate }}
      {{ 'anms.examples.crud.error' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>type</mat-label>
    <input matInput placeholder="type"
      formControlName="type" required>
    <mat-error *ngIf="petFormGroup.get('type').invalid">
      {{ 'anms.examples.crud.placeholder1' | translate }}
      {{ 'anms.examples.crud.error' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>breed</mat-label>
    <input matInput placeholder="breed"
      formControlName="breed" required>
    <mat-error *ngIf="petFormGroup.get('breed').invalid">
      {{ 'anms.examples.crud.placeholder1' | translate }}
      {{ 'anms.examples.crud.error' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>color</mat-label>
    <input matInput placeholder="color"
      formControlName="color" required>
    <mat-error *ngIf="petFormGroup.get('color').invalid">
      {{ 'anms.examples.crud.placeholder1' | translate }}
      {{ 'anms.examples.crud.error' | translate }}
    </mat-error>
  </mat-form-field>

  <button
    class="accent-button"
    type="submit"
    *ngIf="isNew"
    (click)="save()"
    style="margin-top: 30px;">
    Fnalizar cadastro
  </button>

</form>

<div class="row">
  <div class="col-12 d-flex justify-content-end" *ngIf="formValueChanges$ | async">
    <button (click)="cancelEditing()" mat-raised-button style="margin-right: 15px;">
      descartar
    </button>
    <button (click)="save()" mat-raised-button color="primary">
      salvar
    </button>
  </div>
</div>

<ng-container *ngIf="treatments$ | async">
  <div class="treatment-list">
    <h4 class="treatment-list__title">Lista de Tratamentos</h4>
    <pet-general-list [list]="treatments$ | async" (rowClick)="onTreatmentsListClick($event)" ></pet-general-list>
  </div>
</ng-container>

<button
  class="accent-button"
  *ngIf="!isNew"
  [disabled]="petFormGroup.controls.status.value === 'interned'"
  (click)="onAddTreatmentClick()"
  style="margin-top:30px">
  Adicionar Tratamento
</button>
