:host {
  display: block;
  margin-bottom: 40px;
}

.header-profile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.left {
  display: flex;
  align-items: center;
}

.left__image {
  border-radius: 50%;
  width: 105px;
  height: 105px;
  object-fit: cover;
  margin-right: 20px;
}

.left__info__title {
  font-size: 1.6875rem;
  font-weight: 500;
  font-family: "poppins", sans-serif;
}

.left__info__sub-title {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "poppins", sans-serif;
}

// right side

.right__first {
  margin-bottom: 17px;
}

.right__image {
  border-radius: 50%;
  width: 39px;
  height: 39px;
  object-fit: cover;
  margin-right: 20px;
}

.right__second {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "poppins", sans-serif;
}