<input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" style="display:none">

<div class="header-profile-wrapper">
  <ng-container *ngIf="isTutor" [ngTemplateOutlet]="tutorProfile"></ng-container>
  <ng-container *ngIf="!isTutor" [ngTemplateOutlet]="defaultHeader"></ng-container>  
</div>
<hr class="primary-hr">



<ng-template #tutorProfile>
  <section class="left">
    <img class="left__image" (click)="onImageClick()" [src]="headerData?.tutor?.avatar" onError="this.src='./assets/images/user-placeholder.png'">
    <div class="left__info">
      <h3 class="left__info__title">{{ (headerData?.tutor?.name) || ''}} {{' '}}  {{(headerData?.tutor?.lastName || '')}}</h3>
    </div>
  </section>
  <section class="right">
    <button class="right profile-button" style="margin-bottom: 40px;"> <fa-icon icon="comment-dots"></fa-icon> Mensagem</button>
  </section>
</ng-template>

<ng-template #defaultHeader>
  <section class="left">
    <img class="left__image" (click)="onImageClick()" [src]="headerData?.pet?.avatar" onError="this.src='./assets/images/pet-placeholder.png'">
    <div class="left__info">
      <h3 class="left__info__title">{{headerData?.pet?.name || ''}}</h3>
      <h3 class="left__info__sub-title">{{ (headerData?.pet?.type) || ''}} {{' '}}  {{(headerData?.pet?.breed || '')}} {{' '}}  {{(headerData?.pet?.color || '')}}</h3>
      <!-- <h3 class="left__info__btn profile-button"></h3> -->
      <button 
        *ngIf="headerData?.options?.showPetProfileButton"
        (click)="openPetProfile()"
        class="left profile-button">
        <fa-icon icon="user" style="margin-right: 5px;"></fa-icon> Ver perfil
      </button>
      
    </div>
  </section>
  
  <section class="right">
    <div class="right__first">
      <img class="right__image" [src]="headerData?.tutor?.avatar" onError="this.src='./assets/images/user-placeholder.png'">
      <button class="right profile-button" style="margin-right: 20px;" (click)="openTutorProfile()">
        <fa-icon icon="user"></fa-icon> Ver perfil
      </button>
      <button class="right profile-button" disabled><fa-icon icon="comment-dots"></fa-icon> Mensagem</button>
    </div>
  
    <h4 class="right__second"><span style="font-weight: 500;">Tutor:</span> {{ (headerData?.tutor?.name) || ''}} {{' '}}  {{(headerData?.tutor?.lastName || '')}}</h4>
    
  </section>

</ng-template>

