@import '../../../styles-variables.scss'; 

:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: white;
  z-index: 3;
}

.user-info {
  position: absolute;
  right: 20px;
  top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__notification {
  background-color: $extra-light-blue;
  padding: 3px 8px;
  border-radius: 50px;
  font-size: 15px !important;
  margin-right: 20px;
}

.user__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  background-color: #cacaca;
  border: 1px solid #4583F7;
}

.logout {
  margin-right: 20px;
  cursor: pointer;
}