<pet-header-profile [headerData]="{tutor: tutor}"></pet-header-profile>




{{ selectedTutor$ | async | json}}




<form [formGroup]="bookFormGroup"
        [ngClass]="routeAnimationsElements">
        <div class="row">
          <mat-form-field class="col">
            <input matInput placeholder="title"
              formControlName="title" required autofocus>
            <mat-error *ngIf="bookFormGroup.get('title').invalid">
              {{ 'anms.examples.crud.placeholder1' | translate }}
              {{ 'anms.examples.crud.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput placeholder="author"
              formControlName="author" required>
            <mat-error *ngIf="bookFormGroup.get('author').hasError('required')">
              {{ 'anms.examples.crud.placeholder2' | translate }}
              {{ 'anms.examples.crud.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <textarea matInput placeholder="description"
              formControlName="description" rows="5"></textarea>
            <mat-error *ngIf="bookFormGroup.get('description').invalid">
              {{ 'anms.examples.crud.placeholder1' | translate }}
              {{ 'anms.examples.crud.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <!-- <button (click)="save()" mat-raised-button color="primary">
              {{'anms.examples.crud.save' | translate }}
            </button>
            <button (click)="cancelEditing()" mat-raised-button>
              {{'anms.examples.crud.cancel' | translate }}
            </button> -->
          </div>
        </div>
      </form>