<div class="home-buttons">
  <button class="home-button section" (click)="onTutorAddButtonClick()">
    <fa-icon icon="user"></fa-icon>
    <span class="home-button-text">Cadastrar Tutor</span>
  </button>
  <button class="home-button section">
    <fa-icon icon="dog"></fa-icon>
    <span class="home-button-text">Cadastrar Pet</span>
  </button>
  <button class="home-button section">
    <fa-icon icon="stethoscope"></fa-icon>
    <span class="home-button-text">Cadastrar Tratamento</span>
  </button>
</div>

<h2 class="sub-title">Tratamentos abertos</h2>

<pet-general-list
  [list]="openTreatments$ | async"
  (rowClick)="onTreatmentListClick($event)">
</pet-general-list>

